<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.StudentMapper">
    
    <resultMap type="Student" id="StudentResult">
        <result property="studentId"      column="student_id"      />
        <result property="studentName"    column="student_name"    />
        <result property="studentSex"     column="student_sex"     />
        <result property="studentBirth"   column="student_birth"   />
        <result property="studentPhone"   column="student_phone"   />
        <result property="studentUpdate"  column="student_update"  />
        <result property="studentStatus"  column="student_status"  />
    </resultMap>

    <sql id="selectStudentVo">
        select student_id, student_name, student_sex, student_birth, student_phone, student_update, student_status from student
    </sql>

    <select id="selectStudentList" parameterType="Student" resultMap="StudentResult">
        <include refid="selectStudentVo"/>
        <where>  
            <if test="studentName   != null  and studentName   != ''"> and student_name like concat('%', #{studentName}, '%')</if>
            <if test="studentSex    != null  and studentSex    != ''"> and student_sex    = #{studentSex}   </if>
            <if test="studentBirth  != null                         "> and student_birth  = #{studentBirth} </if>
            <if test="studentPhone  != null  and studentPhone  != ''"> and student_phone  = #{studentPhone} </if>
            <if test="studentUpdate != null                         "> and student_update = #{studentUpdate}</if>
            <if test="studentStatus != null  and studentStatus != ''"> and student_status = #{studentStatus}</if>
        </where>
    </select>
    
    <select id="selectStudentByStudentId" parameterType="Long" resultMap="StudentResult">
        <include refid="selectStudentVo"/>
        where student_id = #{studentId}
    </select>

    <insert id="insertStudent" parameterType="Student" useGeneratedKeys="true" keyProperty="studentId">
        insert into student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentName   != null">student_name,    </if>
            <if test="studentSex    != null">student_sex,     </if>
            <if test="studentBirth  != null">student_birth,   </if>
            <if test="studentPhone  != null">student_phone,   </if>
            <if test="studentUpdate != null">student_update,  </if>
            <if test="studentStatus != null">student_status,  </if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="studentName   != null">#{studentName},  </if>
            <if test="studentSex    != null">#{studentSex},   </if>
            <if test="studentBirth  != null">#{studentBirth}, </if>
            <if test="studentPhone  != null">#{studentPhone}, </if>
            <if test="studentUpdate != null">#{studentUpdate},</if>
            <if test="studentStatus != null">#{studentStatus},</if>
         </trim>
    </insert>

    <update id="updateStudent" parameterType="Student">
        update student
        <trim prefix="SET" suffixOverrides=",">
            <if test="studentName   != null">student_name   = #{studentName},  </if>
            <if test="studentSex    != null">student_sex    = #{studentSex},   </if>
            <if test="studentBirth  != null">student_birth  = #{studentBirth}, </if>
            <if test="studentPhone  != null">student_phone  = #{studentPhone}, </if>
<!--        <if test="studentUpdate != null">student_update = #{studentUpdate},</if>-->
            <if test="studentStatus != null">student_status = #{studentStatus},</if>
        </trim>
        where student_id = #{studentId}
    </update>

    <delete id="deleteStudentByStudentId" parameterType="Long">
        delete from student where student_id = #{studentId}
    </delete>

    <delete id="deleteStudentByStudentIds" parameterType="String">
        delete from student where student_id in 
        <foreach item="studentId" collection="array" open="(" separator="," close=")">
            #{studentId}
        </foreach>
    </delete>
</mapper>