<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.station.mapper.AddrMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.station.domain.Addr">
            <id property="addrId" column="Addr_ID" />
            <result property="addrProv" column="Addr_Prov" />
            <result property="addrCity" column="Addr_City" />
            <result property="addrDist" column="Addr_Dist" />
            <result property="addrAddr" column="Addr_Addr" />
            <result property="addrName" column="Addr_Name" />
            <result property="addrTel" column="Addr_Tel" />
            <result property="userId" column="User_ID" />
    </resultMap>

    <sql id="Base_Column_List">
        Addr_ID,Addr_Prov,Addr_City,Addr_Dist,Addr_Addr,Addr_Name,
        Addr_Tel,User_ID
    </sql>
</mapper>
