<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.station.mapper.PackMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.station.domain.Pack">
            <id property="packId" column="Pack_ID" />
            <result property="userId" column="User_ID" />
            <result property="packSen" column="Pack_Sen" />
            <result property="packRec" column="Pack_Rec" />
            <result property="packDg" column="Pack_Dg" />
            <result property="packFra" column="Pack_Fra" />
            <result property="packUrg" column="Pack_Urg" />
            <result property="packFin" column="Pack_Fin" />
            <result property="packSta" column="Pack_Sta" />
            <result property="packNote" column="Pack_Note" />
    </resultMap>

    <sql id="Base_Column_List">
        Pack_ID,User_ID,Pack_Sen,Pack_Rec,Pack_Dg,Pack_Fra,
        Pack_Urg,Pack_Fin,Pack_Sta,Pack_Note
    </sql>
</mapper>
