<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.station.mapper.PaMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.station.domain.Pa">
            <id property="postAdminId" column="Post_Admin_ID" />
            <id property="postId" column="Post_ID" />
    </resultMap>

    <sql id="Base_Column_List">
        Post_Admin_ID,Post_ID
    </sql>
</mapper>
