<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.BizPackFlowMapper">
    
    <resultMap type="BizPackFlow" id="BizPackFlowResult">
        <result property="flowId"    column="flow_id"    />
        <result property="packId"    column="pack_id"    />
        <result property="stationId"    column="station_id"    />
        <result property="adminUserId"    column="admin_user_id"    />
        <result property="action"    column="action"    />
        <result property="actionNote"    column="action_note"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectBizPackFlowVo">
        select flow_id, pack_id, station_id, admin_user_id, action, action_note, created_at from biz_pack_flow
    </sql>

    <select id="selectBizPackFlowList" parameterType="BizPackFlow" resultMap="BizPackFlowResult">
        <include refid="selectBizPackFlowVo"/>
        <where>  
            <if test="packId != null  and packId != ''"> and pack_id = #{packId}</if>
            <if test="stationId != null  and stationId != ''"> and station_id = #{stationId}</if>
            <if test="adminUserId != null "> and admin_user_id = #{adminUserId}</if>
            <if test="action != null  and action != ''"> and action = #{action}</if>
            <if test="actionNote != null  and actionNote != ''"> and action_note = #{actionNote}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
        </where>
    </select>
    
    <select id="selectBizPackFlowByFlowId" parameterType="String" resultMap="BizPackFlowResult">
        <include refid="selectBizPackFlowVo"/>
        where flow_id = #{flowId}
    </select>

    <insert id="insertBizPackFlow" parameterType="BizPackFlow" useGeneratedKeys="true" keyProperty="flowId">
        insert into biz_pack_flow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="packId != null and packId != ''">pack_id,</if>
            <if test="stationId != null and stationId != ''">station_id,</if>
            <if test="adminUserId != null">admin_user_id,</if>
            <if test="action != null and action != ''">action,</if>
            <if test="actionNote != null">action_note,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="packId != null and packId != ''">#{packId},</if>
            <if test="stationId != null and stationId != ''">#{stationId},</if>
            <if test="adminUserId != null">#{adminUserId},</if>
            <if test="action != null and action != ''">#{action},</if>
            <if test="actionNote != null">#{actionNote},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="updateBizPackFlow" parameterType="BizPackFlow">
        update biz_pack_flow
        <trim prefix="SET" suffixOverrides=",">
            <if test="packId != null and packId != ''">pack_id = #{packId},</if>
            <if test="stationId != null and stationId != ''">station_id = #{stationId},</if>
            <if test="adminUserId != null">admin_user_id = #{adminUserId},</if>
            <if test="action != null and action != ''">action = #{action},</if>
            <if test="actionNote != null">action_note = #{actionNote},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where flow_id = #{flowId}
    </update>

    <delete id="deleteBizPackFlowByFlowId" parameterType="String">
        delete from biz_pack_flow where flow_id = #{flowId}
    </delete>

    <delete id="deleteBizPackFlowByFlowIds" parameterType="String">
        delete from biz_pack_flow where flow_id in 
        <foreach item="flowId" collection="array" open="(" separator="," close=")">
            #{flowId}
        </foreach>
    </delete>
</mapper>