<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.BizPackRejectionMapper">
    
    <resultMap type="BizPackRejection" id="BizPackRejectionResult">
        <result property="rejectId"    column="reject_id"    />
        <result property="packId"    column="pack_id"    />
        <result property="rejectBy"    column="reject_by"    />
        <result property="rejectReason"    column="reject_reason"    />
        <result property="createdAt"    column="created_at"    />
    </resultMap>

    <sql id="selectBizPackRejectionVo">
        select reject_id, pack_id, reject_by, reject_reason, created_at from biz_pack_rejection
    </sql>

    <select id="selectBizPackRejectionList" parameterType="BizPackRejection" resultMap="BizPackRejectionResult">
        <include refid="selectBizPackRejectionVo"/>
        <where>  
            <if test="packId != null  and packId != ''"> and pack_id = #{packId}</if>
            <if test="rejectBy != null "> and reject_by = #{rejectBy}</if>
            <if test="rejectReason != null  and rejectReason != ''"> and reject_reason = #{rejectReason}</if>
            <if test="createdAt != null "> and created_at = #{createdAt}</if>
        </where>
    </select>
    
    <select id="selectBizPackRejectionByRejectId" parameterType="String" resultMap="BizPackRejectionResult">
        <include refid="selectBizPackRejectionVo"/>
        where reject_id = #{rejectId}
    </select>

    <insert id="insertBizPackRejection" parameterType="BizPackRejection" useGeneratedKeys="true" keyProperty="rejectId">
        insert into biz_pack_rejection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="packId != null and packId != ''">pack_id,</if>
            <if test="rejectBy != null">reject_by,</if>
            <if test="rejectReason != null and rejectReason != ''">reject_reason,</if>
            <if test="createdAt != null">created_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="packId != null and packId != ''">#{packId},</if>
            <if test="rejectBy != null">#{rejectBy},</if>
            <if test="rejectReason != null and rejectReason != ''">#{rejectReason},</if>
            <if test="createdAt != null">#{createdAt},</if>
         </trim>
    </insert>

    <update id="updateBizPackRejection" parameterType="BizPackRejection">
        update biz_pack_rejection
        <trim prefix="SET" suffixOverrides=",">
            <if test="packId != null and packId != ''">pack_id = #{packId},</if>
            <if test="rejectBy != null">reject_by = #{rejectBy},</if>
            <if test="rejectReason != null and rejectReason != ''">reject_reason = #{rejectReason},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
        </trim>
        where reject_id = #{rejectId}
    </update>

    <delete id="deleteBizPackRejectionByRejectId" parameterType="String">
        delete from biz_pack_rejection where reject_id = #{rejectId}
    </delete>

    <delete id="deleteBizPackRejectionByRejectIds" parameterType="String">
        delete from biz_pack_rejection where reject_id in 
        <foreach item="rejectId" collection="array" open="(" separator="," close=")">
            #{rejectId}
        </foreach>
    </delete>
</mapper>