<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.BizStationAdminMapMapper">
    
    <resultMap type="BizStationAdminMap" id="BizStationAdminMapResult">
        <result property="stationId"    column="station_id"    />
        <result property="adminUserId"    column="admin_user_id"    />
        <result property="roleNote"    column="role_note"    />
        <result property="assignedAt"    column="assigned_at"    />
    </resultMap>

    <sql id="selectBizStationAdminMapVo">
        select station_id, admin_user_id, role_note, assigned_at from biz_station_admin_map
    </sql>

    <select id="selectBizStationAdminMapList" parameterType="BizStationAdminMap" resultMap="BizStationAdminMapResult">
        <include refid="selectBizStationAdminMapVo"/>
        <where>  
            <if test="roleNote != null  and roleNote != ''"> and role_note = #{roleNote}</if>
            <if test="assignedAt != null "> and assigned_at = #{assignedAt}</if>
        </where>
    </select>
    
    <select id="selectBizStationAdminMapByStationId" parameterType="String" resultMap="BizStationAdminMapResult">
        <include refid="selectBizStationAdminMapVo"/>
        where station_id = #{stationId}
    </select>

    <insert id="insertBizStationAdminMap" parameterType="BizStationAdminMap">
        insert into biz_station_admin_map
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="stationId != null">station_id,</if>
            <if test="adminUserId != null">admin_user_id,</if>
            <if test="roleNote != null">role_note,</if>
            <if test="assignedAt != null">assigned_at,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="stationId != null">#{stationId},</if>
            <if test="adminUserId != null">#{adminUserId},</if>
            <if test="roleNote != null">#{roleNote},</if>
            <if test="assignedAt != null">#{assignedAt},</if>
         </trim>
    </insert>

    <update id="updateBizStationAdminMap" parameterType="BizStationAdminMap">
        update biz_station_admin_map
        <trim prefix="SET" suffixOverrides=",">
            <if test="adminUserId != null">admin_user_id = #{adminUserId},</if>
            <if test="roleNote != null">role_note = #{roleNote},</if>
            <if test="assignedAt != null">assigned_at = #{assignedAt},</if>
        </trim>
        where station_id = #{stationId}
    </update>

    <delete id="deleteBizStationAdminMapByStationId" parameterType="String">
        delete from biz_station_admin_map where station_id = #{stationId}
    </delete>

    <delete id="deleteBizStationAdminMapByStationIds" parameterType="String">
        delete from biz_station_admin_map where station_id in 
        <foreach item="stationId" collection="array" open="(" separator="," close=")">
            #{stationId}
        </foreach>
    </delete>
</mapper>